body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(177, 157, 104);
}

.alert-container {

}

.callout-container {
    height: 100vh;

    background: url(../images/whiskeyRP.jpg) no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {

}

.favourites-container {

}

/* Jumbotron */

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}